// Footer Televisa Social | WhiteLabel MarkUp v1.3.3 Silver Ivory | 2/2/19

.FooterTA {

	&__SocialWrapper.Televisacom {

		padding: 30px 0%;

		@include Morpher(All-Desktop) {

			flex-flow: column;
			padding: 30px 1%;
		}

	}

	&__SocialLinksWrapper.Televisacom {

		width: 115px;
		justify-content: space-between;

	}

	&__SocialLinks.Televisacom {

		margin:0px;

	}

	&__SocialCopyWrapper.Televisacom {

		margin: 0px;
		@include Themer(color,Color-4);

	}
}
