// Footer Televisa Apps | WhiteLabel MarkUp v1.3.3 Silver Ivory | 2/2/19



.FooterTA {

	&__AppIcon.Televisacom {

		&-Estrellas {

			background: url('../assets/0001/images/icn_app-estrellas.jpg') center/100% no-repeat;
			@include IconStyle;

		}

		&-Deportes {

			background: url('../assets/0001/images/icn_app-deportes.jpg') center/100% no-repeat;
			@include IconStyle;

		}

		&-Noticieros {

			background: url('../assets/0001/images/icn_app-noticieros.jpg') center/100% no-repeat;
			@include IconStyle;

		}

	}

	&__AppWrapper {

		justify-content: flex-start;

		@include Morpher(All-Desktop){

			overflow: auto;
    		flex-wrap: wrap;
			justify-content: center;

		}
	}

	&__AppName.Televisacom {

		width: auto;

		@include Themer(color,Color-4);

	}

	&__App {

		max-width: 130px;

	}

	&__AppHeader.Televisacom {

		font-size: 20px;
		text-transform: uppercase;

		@include Themer(color,Color-3);

	}
}
