// Footer Televisa Pavilion | WhiteLabel MarkUp v1.3.3 Silver Ivory | 2/2/19

.FooterTA {

	&__PavilionTrack.Televisacom {

		@include Morpher (All-Desktop) {

			overflow: hidden;
		}
	}

	&__PavilionPanelContent.Televisacom {

		margin: 1em 0px;
	}

	&__PavilionAddress.Televisacom {

		display: block;
		margin-bottom: 5px;

	}

	&__PavilionPhone.Televisacom {

		display: block;
		margin-bottom: 1em;
		text-decoration: none;

		@include Themer(color,Color-4);
	}

	&__PavilionHeadline.Televisacom {

		margin-bottom: 10px;
		padding-left: 20px;
		text-align: left;
		text-transform: uppercase;

		@include Themer(color,Color-3);

	}

	&__PavilionHeader.Televisacom {

		text-transform: uppercase;
		font-size: 20px;
	}

	&__PavilionParagraph {

		margin-bottom: 1em;
		font-size: 13px;

		&:last-of-type {

			display: none;

		}

		&:nth-last-of-type(2) {

			display: none;

		}
	}

	&__Contact.Televisacom {

		font-family: Helvetica, sans-serif;
		font-style: normal;
		font-size: 0.75em;
	    letter-spacing: -0.01em;
	    line-height: 1.39em;
	    padding: 0 1.5em;

		@include Themer(color,Color-4);
	}
}
