// Footer Televisa Core | WhiteLabel MarkUp v1.3.3 Silver Ivory | 2/2/19

.FooterTA.Televisacom {

    //@include Themer(background,Color-1);// 7 mock

    background-image: linear-gradient(0deg, #B7C2D1 89%, #B7C2D1 50%);
    background-position: 0px 97px;
    background-color: #000000;
    background-repeat: no-repeat;

}
