// Kolibri Ikoner Engine | WhiteLabel MarkUp v1.3.3 Silver Ivory | 25/2/19

$Icn-Value: nth(nth($Iconography, 1),2);

@mixin Iconography ($Icn-Color, $Icn-Size, $Icn-Value){

    align-items: center;
    color: $Icn-Color;
    display: flex;
    font-size: $Icn-Size;
    justify-content: center;
    text-align: center;
    text-decoration: none;

    &::before {
        content: '#{$Icn-Value}';

        @include FontSmoothing;

    }
}

@for $i from 1 through length($Palettes) {

    $ThemesName: nth(nth($Palettes, $i), 1);

    @each $Icon-Name, $Icn-Value in $Iconography {

        @if $ThemesName == WhiteLabel {

            .Icn_#{$Icon-Name}.#{$ThemesName} {

                @include Iconography(Black,40px !important, '\e001');

            }

        } @else {

            .Icn_#{$Icon-Name}.#{$ThemesName} {

                @include Iconography(Black,28px, $Icn-Value);

            }
        }
    }
} // Ikoner Engine
