// Footer Televisa Pavilion | WhiteLabel MarkUp v1.3.3 Silver Ivory | 2/2/19

@mixin PavilionHeader {

	height: 120px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	padding: 5%;
	color: #ffffff;
}

.FooterTA {

	&__PavilionWrapper {


	}

	&__PavilionTrack {

		display: flex;
    	overflow: scroll;
	}

	&__PavilionPanel {

		min-width: 100%;
    	height: 100%;

		@include Morpher(All-Desktop) {

			max-width: (100% / 3);
			min-width: 0;

		}

	}

	&__PavilionPanelTop {

		&-About {

			background: url('../assets/0001/images/bg_nosotros@2x.png');

			@include PavilionHeader;

		}

		&-MapNational {

			background: url('../assets/0001/images/bg_mexico@2x.png');

			@include PavilionHeader;


		}

		&-MapGlobal {

			background: url('../assets/0001/images/bg_internacional@2x.png');

			@include PavilionHeader;

		}
	}

	&__PavilionLogo {

	}

	&__PavilionHeader {

		margin: 0;
	    white-space: unset;
	    text-align: center;

	}

	&__PavilionPanelContent {

	}

	&__PavilionHeadline {

		margin: 0;
	    white-space: unset;
	    text-align: center;

	}

	&__PavilionParagraph {

		font-family: Helvetica, sans-serif;
	    font-size: .75em;
	    line-height: 1.39em;
	    letter-spacing: -.01em;
		padding: 0 1.5em;

	}
}
