// Footer Televisa Logo | WhiteLabel MarkUp v1.3.3 Silver Ivory | 2/2/19

.FooterTA {

    &__PavilionLogoWrapper {

        position: absolute;
        background: url(../assets/0001/logotypes/lg_televisa.svg) 22px center/150px no-repeat;
        width: 200px;

    }

    &__PavilionLogo {

    }
}
