// Footer Televisa Info | WhiteLabel MarkUp v1.3.3 Silver Ivory | 2/2/19

.FooterTA {

	&__InfoWrapper {

		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-content: center;
		align-items: center;
		align-content: center;
		justify-items: center;

		border-top: solid 1px #d7dbe2;



		@include Morpher(All-Desktop) {

			display: flex;
			border-bottom: solid 1px #d7dbe2;
		}

	}

	&__InfoLink {

		font-family: Helvetica, sans-serif;
		text-decoration: none;
		font-size: .7em;
		text-transform: uppercase;
		color: #102C51;
    	box-sizing: border-box;
		display: flex;
	    justify-content: center;
	    align-items: center;
		line-height: 1.5em;
		padding: 3%;
		height: 45px;
		border: solid 1px #e8e8e8;
		width: 100%;
		box-sizing: border-box;

		&:nth-of-type(1) {
			order: 2;
		}

		&:nth-of-type(2) {
			order: 3;
		}

		&:nth-of-type(3) {
			order: 4;
		}

		&:nth-of-type(4) {
			order: 5;
		}

		&:nth-of-type(5) {
			order: 1;
		}

		@include Morpher(All-Desktop) {
			border: none;
			padding: 0;

			&:nth-of-type(1) {
				order: 1;
			}

			&:nth-of-type(2) {
				order: 2;
			}

			&:nth-of-type(3) {
				order: 3;
			}

			&:nth-of-type(4) {
				order: 4;
			}

			&:nth-of-type(5) {
				order: 5;
			}

		}

		&:hover {
			background: #d6d6d6;
		}

	}

	&__InfoLink:nth-child(5) {
		grid-column: 1 / 3;

	}
}
