// Footer Televisa Network | WhiteLabel MarkUp v1.3.3 Silver Ivory | 2/2/19

.FooterTA {

	&__NetworkWrapper {

		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		justify-content: center;
		text-align: center;
		border-bottom: solid 1px #d7dbe2;


		@include Morpher(All-Desktop){

			display: flex;
		}

	}

	&__NetworkLink {

		font-family: Helvetica, sans-serif;
		text-decoration: none;
		font-size: .7em;
		text-transform: uppercase;
		color: #102C51;
    	box-sizing: border-box;
		display: flex;
	    justify-content: center;
	    align-items: center;
		line-height: 1.5em;
		padding: 3%;

		height: 45px;
		border: solid 1px #e8e8e8;
		width: 100%;
		box-sizing: border-box;

		@include Morpher(All-Desktop) {
			border: none;
			padding: 0;

		}

		&:hover {
			background: #d6d6d6;
		}

	}
}
