// Footer Televisa Apps | WhiteLabel MarkUp v1.3.3 Silver Ivory | 2/2/19


@mixin IconStyle {

	width: 60px;
	height: 60px;
	border-radius: 8px;
}


.FooterTA {

	&__AppWrapper {

		display: flex;
		overflow: scroll;
		justify-content: left;
		margin: 2% 0 2% 0;
		overflow: -moz-scrollbars-none;
		-ms-overflow-style: none;

		@include Morpher(All-Desktop) {


			height: 100%;
			padding: 0 0 1%;
			justify-content: center;
		}

		&::-webkit-scrollbar {

			width: 0 !important

		}

	}

	&__AppShowroomWrapper {

		margin: 10% 0 0;

		@include Morpher(All-Desktop) {

		}

	}

	&__App {

		min-width: 120px;
		height: 120px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		font-size: .7em;
    	font-family: Helvetica, sans-serif;
    	text-transform: uppercase;
		margin: 0 10px;
		border: solid 1px #dadada;
		border-radius: 10px;
		color: #133868;


		@include Morpher(All-Desktop) {

			flex-direction: row;
			min-width: 216px;
			padding: 1%;
			height: 80px;

			&:hover {
				box-shadow: -2px 2px 6px #b9b9b9;
			}


		}

	}

	&__AppIcon {

		&-Estrellas {

			background: url('../assets/0001/images/icn_app-estrellas.jpg') center/100% no-repeat;
			@include IconStyle;

		}

		&-Deportes {

			background: url('../assets/0001/images/icn_app-deportes.jpg') center/100% no-repeat;
			@include IconStyle;

		}

		&-Noticieros {

			background: url('../assets/0001/images/icn_app-noticieros.jpg') center/100% no-repeat;
			@include IconStyle;

		}


	}

	&__AppName {

	    width: 150px;
	    font-family: roboto-regular, sans-serif;
	    font-size: .85em;
		line-height: 1.3em;
		padding: 5%;
		text-align: center;

		@include Morpher(All-Desktop) {
			text-align: left;
			font-size: 1.2em;

		}


	}

	&__AppHeader {

		margin: 10% 0 10% 0;
	    white-space: unset;
	    text-align: center;
		text-transform: uppercase;
		color: #000000;
		font-family: roboto-medium;
		font-weight: 400;
		font-size: 20px;
		letter-spacing: 8px;

		@include Morpher(All-Desktop) {

			margin: 4% 0 4% 0;

		}
	}
}
