// Footer Televisa Pavilion | WhiteLabel MarkUp v1.3.3 Silver Ivory | 2/2/19

.FooterTA {

	&__PavilionWrapper {

		background: pink;

	}

	&__PavilionTrack {

		display: flex;
    	overflow: scroll;
	}

	&__PavilionPanel {

		min-width: 100%;
    	background: red;
    	height: 100%;

		@include Morpher(All-Desktop) {

			max-width: (100% / 3);
			min-width: 0;

		}

	}

	&__PavilionPanelTop {

		&-About {

		}
	}

	&__PavilionLogo {

	}

	&__PavilionHeader {

	}

	&__PavilionPanelContent {

	}

	&__PavilionHeadline {

	}

	&__PavilionParagraph {

	}
}
